
body {
    margin: 0;
    padding: 0;
    background: #eee;
    font-family: 'Lato', Arial, sans-serif;
}


.col-md-8 {
    float: none;
    margin: 0 auto;
    text-align: center;
}

thead {
    font-weight: bold;
}

table {
    text-align: left;
}